html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

nav {
  float: right; /* this and the nav li floats are there to reverse the switch of the items order */
}

nav li {
    display: inline;
    font-size: 13px;
    float: left; /* this and the nav floats are there to reverse the switch of the items order */
}

nav li+li {
  margin-left: 20px;
}

nav ul li:nth-child(2) {
  margin-right: 100px; /* to push them away from the side of the screen */
}

#nav-img { /* parent = ul */
    width: 30px;
    position: relative;
    top: -8px;
    left: -90px;
}

#main-content {
    height: 100vh;
  width: 100vw;
    position: relative;
}

#main-image {
    position: absolute;
    display: block;
    width: 272px;
  /* to center the element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
}

#search-bar {
    position: absolute;
    display: block;
    padding-left: 15px; /* padding is for the INSIDE of the field, where the user will start typing */
    padding-right: 50px; /* when to cut off the scrolling text inside the input field */
    width: 400px;
    height: 40px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    /* to center the element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);   
}

#search-bar-img { /* parent = div #main-content */
    padding: 10px; /* to give dimensions to the empty span */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(995%, -825%);
}

#search-bar:hover, #search-bar:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

#search-buttons { /* text-align on the buttons' parent element to center them horizontally */
    position: absolute;
    text-align: center;
   /* to center the element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -280%);
}

#search-button, #luck-button {
    width: 120px;
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
    border: solid;
    border-color: transparent; /* so adding the visible border on hover doesn't push the element down */
    border-radius: 5px;
    padding: 10px;
}

#search-button:hover, #luck-button:hover {
    background: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    color: black;
    cursor: pointer;
}

#main-content input + input {
    margin: 0 15px 0 15px;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 85px;
    background-color: rgb(242, 242, 242);
    color: rgb(95, 99, 104);
    font-size: 13px;
}

#bottom-divider {
    position: relative;
    width:100%;
    height: 40px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}

#country-bottom {  
    position: absolute;
    left: 15px;
    bottom: 9px;
    padding: 0;
    margin: 0 0 0 15px;
    font-size: 15px;
}

#bottom-1 {
    position: absolute;
    left: 0;
    bottom: 1;
    padding: 0;
    margin-left: 20px;
}

#bottom-1 li {
    display: inline;
    margin: 0 10px 0 10px;
}

#bottom-2 {
    position: absolute;
    right: 0;
    bottom: 1;
    padding: 0;
    margin-right: 20px;
}

#bottom-2 li {
    display: inline;
    margin: 0 10px 0 10px;
}